@media (max-width: 600px) {
    body {
        background-color: #f0f0f0;
        font: arial 2vw;
    }

    table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
  }